:root {
  --off-white: #ccc;
  --main-color: #ff6b63;
  --transparent-black: rgba(5, 5, 5, 0.75);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

@font-face {
  font-family: 'main font';
  src: url(/src/fonts/Labrada-VariableFont_wght.ttf);
}

body {
  background-color: #222;
  color: var(--off-white);
  line-height: 1.5;
  font-family: 'main font', sans-serif;
}

nav {
  top: 0;
  position: absolute;
  font-size: 2em;
  background-color: var(--transparent-black);
  padding: 10px 20px;
  color: var(--main-color);
  width: 100%;
}

.menu-nav {
  font-size: 2em;
  background-color: var(--transparent-black);
  padding: 10px 20px;
  color: var(--main-color);
  width: 100%;
}

.main-menu {
  margin-top: 10rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5%;
}

.card {
  background-color: var(--transparent-black);
  color: var(--main-color);
  font-size: 2vw;
  width: 25vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px 0 15px;
}

.card > img {
  height: 65%;
}
.quote {
  position: absolute;
  left: 30%;
  right: 30%;
  top: 225px;
  font-size: 2em;
  background-color: var(--transparent-black);
  padding: 10px 0 10px 0;
  color: var(--off-white);
  white-space: pre-line;
}

.home-img {
  width: 100vw;
  height: 35em;
}

#content {
  display: grid;
  place-items: center;
  text-align: center;
}

p {
  padding: 1% 15% 3% 15%;
}

a {
  color: var(--main-color);
}

footer {
  background-color: var(--transparent-black);
  margin-top: 15%;
  width: 100%;
  padding: 15px;
}
