:root {
  --off-white: #ccc;
  --main-color: #ff6b63;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

body {
  background-color: #222;
  color: var(--off-white);
  line-height: 1.5;
}

.quote {
  position: absolute;
  left: 35%;
  right: 35%;
  top: 65px;
  font-size: 2em;
  background-color: rgba(5, 5, 5, 0.75);
  padding: 10px 20px;
  color: var(--off-white);
}

img {
  width: 100vw;
  height: 35em;
}

#content {
  display: grid;
  place-items: center;
  text-align: center;
}

p {
  padding: 1% 15% 3% 15%;
}
