* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

.quote {
  position: absolute;
  left: 35%;
  right: 35%;
  top: 65px;
  font-size: 2em;
  background-color: rgba(5, 5, 5, 0.75);
  padding: 10px 20px;
  color: #ccc;
}

img {
  width: 100vw;
  height: 35em;
}
